<!-- Email content for the reset password mailer, and link. -->
<h1>Reset your password</h1>
<p>
  Hi <%= @user.name %>, you have requested a password reset for your Rainy Day profile. 
    Please follow the link below. <br/> 
  If you didn't request a password reset, someone may be trying to get in to your account.
</p>
<%= link_to 'Click here to reset your password', reset_code_url(@user.reset_code) %>