<h1>Reset your password</h1>

<p>
  Hi <%= @user.name %>, you have requested a password reset. Follow the link below. If you didn't request a password reset, someone is trying to get in to your account.
</p>

<%= link_to 'Click here to reset password', reset_code_url(@user.reset_code) %>