<h1>My Achievements</h1>

<% if @goals.completed do %>
  <% @goals.each do |goal| %>
    <h3><%= goal.place.name %></h3>
    <h5><%= goal.description %></h5>
    <%= link_to 'destroy', goal, method :delete %>
  <% end %>
<% end %>