<h1>My Goals</h1>

<% if @goals.length == 0 %>
    <h3>You dont have any goals yet.</h3>
    <h4><%= link_to 'Search ', '/search' %> for a new place and add a goal to track your Rainy Day's here.</h4>
<% end %>

<% @goals.each do |goal| %>
  <% if goal.user_id === @current_user.id %>
    <h3><%= goal.place.name %></h3>
    <h4><%= goal.description %></h4>
    <%= link_to 'destroy', goal, :method => :delete %>
  <% end %>
<% end %>



