<!-- Edit password field -->
<div id="forgot-password-body">

  <div id="forgot-password-form">
    <h1>Enter in new password</h1>
    <%= bootstrap_form_tag url: reset_code_path(@code), method: :put do |f| %>
        <%= f.password_field :password %>
        <%= f.primary 'Reset Password' %>
    <% end %>
  </div>
</div>