<!-- Show user information on the profile page -->
<h1>My profile</h1>
<% if @current_user %>
  <h2><%= @current_user.name %></h2>
  <h3><%= @current_user.email %></h3>
  <h3><%= @current_user.zip.code %></h3>
  <%= link_to 'Edit', 'profile/edit' %>
<% else %>
  <% redirect_to action: :index %>
<% end %>

