<h1><%= @details["result"]["name"] %></h1>

<h3><a href="<%= @details['result']['website'] %>" target="_blank">Visit website</a></h3>
<p><%= @details["result"]["formatted_address"] %></p>
<p><%= @details["result"]["formatted_phone_number"] %></p>