// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#about_us {
  text-align: center;
  margin-right: 5%;
  margin-left: 5%;
}

.about_pics {
  border-radius: 50%;
  max-height: 230px;
}

#aboutUsLabel {
  text-align: center;
}

body {
  background-color: #3fb0ac;
}

.col-xs-4 {
  text-align: center;
}

#contributors {
  float: right;
  margin-right: 5%;
}

#copyright {
  float: left;
  margin-left: 5%;
}

footer {
  border-top: 1px solid black;
  bottom: 0;
  font-weight: bold;
  left: 0;
  max-height: 100px;
  position: fixed;
  text-align: center;
  width: 100%;
}

footer a {
  color: black;
}

.goals {
  background-color: #fae596;
  border: 10px solid #173e43;
  margin-top: 10px;
}

#goalH1 {
  color: #173e43;
  text-align: center;
}

.jumbotron {
  text-align: center;
  margin-top: 0px;
}

.main_btns {
  margin-left: 5%;
}

.navbar {
  margin-bottom: 0;
}

.navbar-default, footer{
  background-color: #dddfd4;
}

#noGoal {
  background-color: #fae596;
  border: 10px solid #173e43;
  margin: 2% 35%;
  max-width: 600px;
  min-width: 200px;
  padding: 2% 5%;
  text-align: center;
}

#noGoal h3, #noGoal h4 {
  color: #173e43;
}

.thumbnail {
  border: none;
}

#use_cases {
  text-align: center;
  margin-right: 25%;
  margin-left: 25%;
}

.use_case {
  max-width: 250px;
}
