// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#about_us {
  text-align: center;
  margin-right: 5%;
  margin-left: 5%;
}

#aboutUsLabel {
  text-align: center;
}

.jumbotron {
  text-align: center;
  margin-top: 0px;
}

.col-xs-1 {
  text-align: center;
}

.navbar {
  margin-bottom: 0;
}

