// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#about_us {
  text-align: center;
  background-color: #6ed3cf;
  background-size: cover;
  width: 100% auto;
  color: #173e43;
  padding: 1% 5% 10% 3%;
}

.about_pics {
  border-radius: 50%;
  max-height: 230px;
}

#aboutUsLabel {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
}

.col-xs-4 {
  text-align: center;
}

footer {
  background-color: rgba(255, 255, 255, .7);
  bottom: 0;
  font-size: 16px;
  line-height: 16px;
  min-height: 45px;
  line-height: 45px;
  position: fixed;
  width: 100%;
  color: #173e43;
}

#section-1 {
  background-image: asset-url('girl-park-umbrella1280.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  height: 680px;
  min-width: 100%;
  left: 0;
  text-align: center;
  color: white;
  padding: 2%;
  display: inline-block;
}

.section-2 {
  margin-top: 740px;
  display: inline-block;
}

#btns-public {
  margin-top: 10px;
}

.main_btns {
  width: 100px;
  font-size: 16px;
  text-align: center;
  background-color: #ff4d4d;
  color: white;
  border: 0;
  margin-right: 5%;
  margin-bottom: 15%;
  border-radius: 0;
}

.btn:hover {
  background-color: #6ed3cf;
}

#nav-link {
  color: white;
  font-family: 'Comfortaa', cursive;
  font-size: 16px;
}

.navbar {
  background-color: #173e43;
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  padding-left: 2%;
  padding-right: 2%;
  line-height: 22px;
}

#navbar-brand {
  color: white;
  font-family: 'Comfortaa', cursive;
  font-size: 22px;
}

#subtitle {
  font-family: 'Dancing Script', cursive;
  font-size: 45px;
}

#subtitle-2 {
  padding: 1%;
  text-align: center;
  font-family: 'Comfortaa', cursive;
  font-size: 30px;

  color: black;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.5);
  border: 0;
  border-radius: 0;
}

.thumbnail {
  border: none;
}

.thumbnailAbout {
  background-color: #6ed3cf;
}

#title {
  font-family: 'Comfortaa', cursive;
  font-size: 90px;
  color: #6ed3cf;
  font-weight: bold;
}

#noAchievement {
  background-color: #9ad3de;
  border: 3px solid #e3e3e3;
  margin: 2% 35%;
  max-width: 600px;
  min-width: 300px;
  padding: 1% 3%;
  text-align: center;
}

#noGoal{
  background-color: #9ad3de;
  border: 3px solid #e3e3e3;
  margin: 2% 35%;
  max-width: 600px;
  min-width: 200px;
  padding: 2% 5%;
  text-align: center;
}

.goals, .achievements {
  background-color: rgba(144, 195, 212, 0.85);
  border: 3px solid #f8bd25;
  margin-top: 10px;
  max-width: 40%;
  text-align: center;
}

#goalH1, #achievementH1 {
  text-align: center;
}

#achievementH1, #goalH1 {
  text-align: center;
}

.forgotPassword {
  font-family: 'Comfortaa', cursive;
  font-size: 90px;
  font-weight: bold;
  max-width: 30%;
  z-index: 1;
}

.forgotPassword .btn-primary {
  background-color: #6080A9;
  border-color: #7F8DA8;
}

#forgotPasswordH1 {
  font-family: 'Comfortaa', cursive;
  font-size: 40px;
  font-weight: bold;
  margin-top: 5%;
}

#forgotPasswordPg {
  min-height: 838px;
  padding-top: 15px;
  background-image: asset-url('mountain.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  font-family: 'Comfortaa', cursive;
}

.container-fluid {
  padding: 0;
}

// views/passwords/edit.html.erb

#forgot-password-body{
  min-height: 838px;
  padding-top: 15px;
  background-image: asset-url('rain-skyline.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  font-family: 'Comfortaa', cursive;
}

#forgot-password-form{
  border: 2px solid black;
  width: 80%;
  margin: 5px auto;
  padding: 5px;
  background-color: rgba(144, 195, 212, 0.8);
}