// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#about_us {
  text-align: center;
  background-color: #6ed3cf;
  position: absolute;
  width: 100%;
  color: white;
  padding: 0 5% 10% 5%;
  margin: 0; 
}

.about_pics {
  border-radius: 50%;
  max-height: 230px;
}

#aboutUsLabel {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
}

.col-xs-4 {
  text-align: center;
}

footer {
  background-color: rgba(255, 255, 255, .7);
  bottom: 0;
  left: 0;
  font-size: 16px;
  line-height: 16px;
  min-height: 45px;
  line-height: 45px;
  position: fixed;
  width: 100%;
  clear: left;
}

footer a {
  color: black;
}

.goals, .achievements {
  background-color: #9ad3de;
  border: 3px solid #e3e3e3;
  margin-top: 10px;
  max-width: 40%;
  text-align: center;
}

#goalH1, #achievementH1 {
  text-align: center;
}

.glyphicon-search {
  background-color: #CECECE;
}

#section-1 {
  background-image: url('/assets/girl-park-umbrella1280.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  text-align: center;
  color: white;
  padding: 2%;
  display: inline-block;
}

#title {
  font-family: 'Comfortaa', cursive;
  font-size: 90px;
  color: #6ed3cf;
  font-weight: bold;
}

#subtitle {
  font-family: 'Dancing Script', cursive;
  font-size: 45px;
}

#subtitle-2 {
  padding: 1%;
  text-align: center;
  font-family: 'Comfortaa', cursive;
  font-size: 40px;
  color: #6ed3cf;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.2);
  border: 0;
  border-radius: 0;
}

.top {
  margin-bottom: 100px;
}

.section-2 {
  display: inline-block;
  margin-top: 750px;
}

.main_btns {
  margin: 5%;
  width: 100px;
  font-size: 16px;
  text-align: center;
  background-color: red;
  color: white;
  border: 0;
  margin-bottom: 15%;
  border-radius: 0;
}

.btn:hover {
  background-color: #6ed3cf;
}

#nav-link {
  color: white;
}

.navbar {
  background-color: #173e43;
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  padding-left: 2%;
  padding-right: 2%;
}

#navbar-brand {
  color: white;
  font-family: 'Comfortaa', cursive;
  font-size: 22px;
}

#noAchievement {
  background-color: #9ad3de;
  border: 3px solid #e3e3e3;
  margin: 2% 35%;
  max-width: 600px;
  min-width: 300px;
  padding: 1% 3%;
  text-align: center;
}

#noGoal{
  background-color: #9ad3de;
  border: 3px solid #e3e3e3;
  margin: 2% 35%;
  max-width: 600px;
  min-width: 200px;
  padding: 2% 5%;
  text-align: center;
}

#noGoal h3, #noGoal h4 {
}

.thumbnail {
  border: none;
}

#use_cases {
  text-align: center;
  margin-right: 25%;
  margin-left: 25%;
  min-height: 280px;
}

.use_case {
  max-width: 300px;
}
